body {
font-family: Arial, sans-serif;
background-color: #f0f0f0;
}

.number {
background-color: lightblue;
text-align: center;
border-radius: 10px;
font-weight: bold;
border: 1px black solid;
padding: 10px 15px 10px 15px;
}

.letter {
background-color: white;
text-align: center;
border-radius: 10px;
font-weight: bold;
border: 1px black dotted;
padding: 15px;
margin: 3px;
}

.story {
background-color: pink;
text-align: center;
border-radius: 10px;
font-weight: bold;
padding: 10px 15px 25px 10px;
margin: 5px 2px;
}

.myNumbers {
display: grid;
width: 80%;

grid-template-columns: 7% 7% 7%;
grid-template-rows: 10% 10% 10% 10% 10% 10% 15% 15%;
grid-gap: 5px;
margin-left: 10px;
}

.myLetters {
display: grid;
width: 80%;

grid-template-columns: 50px 50px 50px 50px 50px;
grid-template-rows: 10% 20% 25% 20% 10% 20%;
grid-gap: 5px;
margin-top: 20px;
margin-left: 10px;
}

.myStories {
    display: grid;
width: 80%;

grid-template-columns: 10% 7% 15% 7% 7%;
grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
margin-top: 55px;
margin-left: 10px;
}